<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
{{ if .Site.Params.description }}    <meta name="description" content="{{ .Site.Params.description }}">{{ end }}
    <title>{{ .Site.Title }} {{ if ne .Title .Site.Title }} &#183; {{ .Title }}{{ end }}</title>
<!--    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />-->
