<!DOCTYPE html>
<html lang="en">
<head>
    {{ block "head" . }} {{ partial "head.html" . }} {{ end }}
    {{ block "head_resources" . }}
    {{ if .Site.IsServer }}
    <script src={{ "assets/js/main.js" | relURL }}></script>
    {{ else }}
    <script>{{ readFile "/static/assets/js/main.js" | safeJS }}</script>
    {{ end }}
    {{ end }}
</head>
<body>
    <a class="button-theme-toggle" onclick="toggleTheme()"><i class="icon-lightbulb"></i></a>
    {{ block "main" . }}
        {{ if not .Params.main }}{{ block "section_title" . }} {{ partial "breadcrumb.html" . }} {{ end }}{{ end }}
        {{ block "section_content" . }}<div class="section section-content">{{ .Content }}</div>{{ end }}
        {{ if not .Params.main }}
          {{ block "bottom-menu" . }}
              {{ if .Site.Params.mainMenu }}<div class="section bottom-menu">{{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" false) }}</div>{{ end }}
          {{ end }}
          {{ block "footer" . }}<div class="section footer">{{ partial "footer.html" . }}</div>{{ end }}
        {{ end }}
    {{ end }}
</body>
</html>
