
.icon-link:before { content: '\e800'; } /* '' */
.icon-cc:before { content: '\e801'; } /* '' */
.icon-right-dir:before { content: '\e802'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */